.main-container {
  width: 100%;
  height: 95%;
}

#dictionary-entry {
  /* The 'transitionend' event is used to coordinate functions. Therefore any 
   * kind of transition is mandatory for the widget to work properly. */
  opacity: 0;
  transition: opacity {{fadingDuration}}s;
}

#entry-word {
  font-family: {{overlayFontFamily_entryWord}};
  font-size: {{overlayFontSize_entryWord}}px;
  color: {{overlayFontColor_entryWord}};
}

#meaning {
  font-family: {{overlayFontFamily_meaning}};
  font-size: {{overlayFontSize_meaning}}px;
  color: {{overlayFontColor_meaning}};
}
